.bg-onda2{
    background-image: url("../img/bg/bg-section2.svg");
    background-color: #9341BD;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
.conteiner-parte2{
    max-width: 1800px;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px;
    margin: 0 10px 0 100px;    
}
.conteudo-esquerda{
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    width: 50%;
    color: white;
}
.conteiner-parte2 h2{
    font-size: 60px;
}
.conteiner-parte2 p{
    font-size: 20px;
}
.img-finance-parte2{
    height: 450px;
    margin: auto;
}